#word-list {
	margin: 0;
	padding: 0;
	width: 210px;
}

#word-box {
	border: solid black 1px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	height: 250px;
}
ul {
	list-style: none;
	
}

#word {
}

#add {
	float: right;
}