html{
	background: #f0f5f5;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: Century Gothic, sans-serif;
}
p, h2{
	text-decoration: none;
}
a{
	text-decoration: none;
	color: white;
}
body{
	margin: 0;
	padding: 0;
}
#word-list {
	background-color: #737373;
	width: 100%;
	position: absolute;
	margin: auto;
	right: 0; bottom: 0; left: 0;
	z-index: 0;
}
#word-box {
	height: 250px;
	color: white;
	padding: 0;
	overflow-y: auto;
}
#word-box div{ 
	padding-left: 20px;
}
#word-box div:hover {
	background-color: grey;
}
#word {
	border: none;
	border-right: 1px #737373 solid;
	height: 26px;
	float: left;
}
#add {
	cursor: pointer;
	font-size: large;
	height: 26px;
	background-color: white;
	margin-left: 0px;
	text-align: center;
}
#gen {
	cursor: pointer;
	font-size: large;
	width: 100%;
	height: 62px;
	color: white;
	background-color: #50d100;
	border: none;
	text-align: center;
	margin: 0;
}
#word-search {
	cursor: pointer;
	z-index: 0;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	padding: auto;
}
#slideMenu{
	position: absolute;
	top: 5px; left: 15px;
	padding: 0 15px 0 15px;
	color: #737373;
	font-size: 50px;
}
#slideMenu p {
	margin: 0;
	text-align: center;
	z-index: -10;
}
#slideMenu:hover{
	cursor: pointer;
}
.Menu{
	width: 250px;
	position: absolute;
	left: -250px; top: 0;
	height: 100%;
	background: #737373;
}
.menuOption{
	color: white;
	width: 100%;
	text-align: center;
}
.menuOption h2{
	font-size: large;
	top:0;
	margin: 0;
	padding: 18px 0 18px 0;
	position: relative;
	z-index: 2;
}
#option{
	z-index: -1;
	top: 0;
	margin: 0;
	color:white;
	font-weight: bold;
	position: absolute;
	width: 250px;
	background: #737373;
}
#option p{
	padding: 20px 0 20px 0;
	margin: 0;
	z-index: 0;
}
.menuOption a p input{
	margin: 0;
	border: 0;
}
.menuOption:hover{
	cursor: pointer;
}
.icon{
	height: 100%;
	padding: auto;
	margin: auto;
	top: 0; right: 0; bottom: 0;
	position:absolute;
}
#width{
	background: transparent;
	border: none;
	color: white;
	text-align:center;
	font-weight: bold;
	font-size: large;
}
#solve {
	cursor: pointer;
	padding: 10px;
	background-color: white;
	margin-top: 25px;
	margin-right: 25px;
	float: right;
}